
  <div class="landing-login-options-wrapper">
    <div class="logo">
      <%= image_tag 'logo@2x.png', class: 'responsive-img' %>
    </div>

    <div class="login-options-wrapper">
      <%= link_to user_omniauth_authorize_path(:facebook), class: 'facebook trans-03s', :'data-no-turbolink' => true do %>
        <span>透過 Facebook 登入</span>
      <% end %>
    </div>
  </div>


